* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: #23252c;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
