* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: #23252c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root {
  padding: 30px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-height: 859px) {
  body {
    height: 100vh;
  }
}
